.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: 0 auto;
}

.online {
  width: 8px;
  height: 8px;
  background-color: green;
  border-radius: 4px;
}

.offline {
  background: red;
  width: 8px;
  height: 8px;
  border-radius: 4px;
}
